<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suo.sdemo.buss.sys.mapper.SysUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, email, password, nickname, deleted
    </sql>

	<select id="userManageList" resultType="com.suo.sdemo.buss.sys.entity.SysUser" >
		SELECT u.* FROM sys_user u
		<where>
			u.deleted = ${@com.suo.sdemo.util.AppUtils@DEL_FALSE}
			<if test="form.key!=null and form.key!=''">
				and (u.nickname like concat('%',#{form.key},'%') or
				u.email like concat('%',#{form.key},'%')
				)
			</if>
		</where>
	</select>
</mapper>
